[submodule "dhscanner.examples"]
	path = dhscanner.examples
	url = https://github.com/OrenGitHub/dhscanner.examples
[submodule "dhscanner.codegen"]
	path = dhscanner.codegen
	url = https://github.com/OrenGitHub/dhscanner.codegen
[submodule "dhscanner.query.engine"]
	path = dhscanner.query.engine
	url = https://github.com/OrenGitHub/dhscanner.query.engine
[submodule "dhscanner.kbgen"]
	path = dhscanner.kbgen
	url = https://github.com/OrenGitHub/dhscanner.kbgen
[submodule "dhscanner.0.fronts"]
	path = dhscanner.0.fronts
	url = https://github.com/OrenGitHub/dhscanner.0.fronts
[submodule "dhscanner.1.parsers"]
	path = dhscanner.1.parsers
	url = https://github.com/OrenGitHub/dhscanner.1.parsers
