[submodule "dhscanner.examples"]
	path = dhscanner.examples
	url = https://github.com/OrenGitHub/dhscanner.examples
[submodule "dhscanner.front.js"]
	path = dhscanner.front.js
	url = https://github.com/OrenGitHub/dhscanner.front.js
[submodule "dhscanner.codegen"]
	path = dhscanner.codegen
	url = https://github.com/OrenGitHub/dhscanner.codegen
[submodule "dhscanner.query.engine"]
	path = dhscanner.query.engine
	url = https://github.com/OrenGitHub/dhscanner.query.engine
[submodule "dhscanner.kbgen"]
	path = dhscanner.kbgen
	url = https://github.com/OrenGitHub/dhscanner.kbgen
[submodule "dhscanner.front.php"]
	path = dhscanner.front.php
	url = https://github.com/OrenGitHub/dhscanner.front.php
[submodule "dhscanner.parsers"]
	path = dhscanner.parsers
	url = https://github.com/OrenGitHub/dhscanner.parsers
[submodule "dhscanner.0.fronts"]
	path = dhscanner.0.fronts
	url = https://github.com/OrenGitHub/dhscanner.0.fronts
