[submodule "dhscanner.examples"]
	path = dhscanner.examples
	url = https://github.com/OrenGitHub/dhscanner.examples
[submodule "dhscanner.front.js"]
	path = dhscanner.front.js
	url = https://github.com/OrenGitHub/dhscanner.front.js
